* {
    font-family: 'Open Sans', sans-serif;
}

/* START log in formulár */
.text-ordinary {
color: black
}
/* style="font-family: 'Open Sans', sans-serif;  color: black"*/

.text-highlighted {
color: #4caf50;
font-weight: 400;
}

.text-highlighted-lighter {
    color: #4caf50;
    font-weight: 300;
}

.border-highlighted {
    border-style: solid; 
    border-color: #4caf50; 
    border-width: thin;
}

.heading-highlighted {
    font-family: 'Open Sans', sans-serif;
    font-weight: 350;
}

.btn-navbar {
    font-weight: 300;
}
